<h1>New partofspeech</h1>

<% form_for(@partofspeech) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :partofspeech %><br />
    <%= f.text_field :partofspeech %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', partofspeeches_path %>