<h1>New norm</h1>

<% form_for(@norm) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :norm %><br />
    <%= f.text_field :norm %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', norms_path %>